* {
    margin: 0%;
}

body {
    background-color: #F8F9FA;
}

/**Navbar style**/

#navbar {
    height: 70px;
    width: 100%;
  padding: 0 20px;
    background-color: #0D1B2A;
    display: flex;
    justify-content:space-around;
    align-content: center;
    align-items: center; 
    position: fixed;
    

}




@media (max-width: 720px) {
    #navbar {
        height: 55px;
    }
}

@media (min-width: 720px) and (max-width: 1400px) {
    #navbar {
        height: 60px;
    }
}

#logo {
  width: 150px;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
   background-image: url(Deal\ Hub\ Logo\ \(2\).jpg);
   background-size: cover;
   padding-top: 5px;
    
}

@media (max-width: 720px) {
    #logo {
        height: 35px;
        width: 100px;
        display: flex;
        justify-content: center;
         align-items: center;
    }
}

@media (min-width: 720px) and (max-width: 1400px) {
    #logo {
       height: 50px;
        width: 130px;
        display: flex;
        justify-content: center;
  align-items: center;
    }
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

@media (max-width: 720px) {
    a {
         text-decoration: none;
    font-size: 15px;
    color: white;
    }
}

@media (min-width: 720px) and (max-width: 1400px) {
    a {
       text-decoration: none;
    font-size: 20px;
    color: white;
    }
}


@media (max-width: 720px) {
    #storage-decor {
        
    font-size: 10px;
    
    }
}

@media (min-width: 720px) and (max-width: 1400px) {
    #storage-decor {
       
    font-size: 20px;
    
    }
}

#storage-items {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

@media (max-width: 720px) {
    #storage-items {
         height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  gap: 5px;

    }
}

@media (min-width: 720px) and (max-width: 1400px) {
    #storage-items {
     height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  gap: 10px;

    }
}